# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Output files
*.png

# Python runtime
*.pyc
*.egg-info
.pytest_cache

# packaging files
dist/
poetry.lock
pyproject.toml

# Virtual environment
venv/
.venv/
